@keyframes PopIn {
  from {
    opacity: 0;
    transform: scale(.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes FadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//
//@keyframes SlideInUp {
//  from {
//    opacity: 0;
//    transform: translateY(20px);
//  }
//  to {
//    opacity: 1;
//    transform: translateY(0px);
//  }
//}
//
//@keyframes SlideInDown {
//  from {
//    opacity: 0;
//    transform: translateY(-20px) scale(0.9);
//  }
//  to {
//    opacity: 1;
//    transform: translateY(0px) scale(1);
//  }
//}
//
//@keyframes swingVertical {
//  from {
//    opacity: 0.2;
//    transform: translateY(-20px);
//  }
//  to {
//    opacity: 1;
//    transform: translateY(0px);
//  }
//}
//
.PopIn {
  animation: PopIn 1s;
  opacity: 0;
  animation-timing-function: $cubicTransition;
  animation-fill-mode: forwards;
}

.PopOut {
  animation: PopIn 1s;
  opacity: 0;
  animation-timing-function: $cubicTransition;
  animation-fill-mode: backwards;
}

.FadeIn {
  animation: FadeIn 1s;
  opacity: 0;
  animation-timing-function: $cubicTransition;
  animation-fill-mode: forwards;
}

//
//.slideInUp {
//  animation: SlideInUp 1s;
//}
//
//.slideInDown {
//  animation: SlideInDown 1s;
//}
//
//.swingVertical {
//  animation: swingVertical 1s;
//}
//
//.delay {
//  animation-delay: 1s;
//}
//
//.popIn,
//.fadeIn,
//.slideInUp,
//.slideInDown,
//.swingVertical {
//  opacity: 0;
//  animation-timing-function: $cubicTransition;
//  animation-fill-mode: forwards;
//}
//
//.swingVertical {
//  opacity: 0;
//  animation-timing-function: $cubicTransition;
//  animation-fill-mode:forwards; /*when the spec is finished*/
//  animation-iteration-count: 5;
//  animation-direction: alternate;
//}

/* The starting CSS styles for the enter animation */
.popIn.ng-enter {
  transition: $cubicTransition all;
  opacity: 0;
  transform: scale(.95);
}

/* The finishing CSS styles for the enter animation */
.popIn.ng-enter.ng-enter-active {
  opacity: 1;
  transform: scale(1);
}

/* The starting CSS styles for the enter animation */
.fadeIn.ng-enter {
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.fadeIn.ng-enter.ng-enter-active {
  transition: $cubicTransition all;
  opacity: 1;
}
