.bold {
  font-weight: bold;
}

.textOrange {
  color: $textOrange;
}

.textDark {
  color: $textDark;
}

.textLight {
  color: $textLight;
}

.pageCenter {
  width: $pageWidth;
  margin: 0 auto;
}

.date {
  direction: ltr;
}

.no-radius {
  border-radius: 0;
  .md-ripple-container {
    border-radius: 0;
  }
}
