/* Colors */
$black: #343434;
$textOrange: #e67c20;
$textDark: #42454e;
$textLight: #7b909d;
$grayDark: #444344;
$grayLight: #F2F2F2;
$blueVeryDark: #1d1f25;
$textOnDark: #afb9bf;
$gray: #D1D1D1;
$borderColor: rgba(0, 0, 0, 0.12);
$blueTxt: #607D8B;
$greenPrimary: #4CAF50;
$textError: #ff4f51;
$blueGray: #7B909D;
$neonGreen: #B0FF00;

//$primary-color-dark:   #F57C00;
$primary-color:        #3F51B5;
//$primary-color-light:  #FFE0B2;
//$primary-color-text:   #212121;
//$accent-color:         #607D8B;
//$primary-text-color:   #212121;
//$secondary-text-color: #727272;
//$divider-color:        #B6B6B6;

/* Shadows */
$dropShadow: 0 1px 1px rgba(0,0,0,0.2);

/* Fonts */

$hebrewFontFamily: OEMeodedSansPro-Regular, arial, serif;
$primaryFontFamily: Roboto, arial, serif;

/* Transitions */
$cubicTransition: 0.28s cubic-bezier(0.4, 0, 0.2, 1);

/* Dimensions */
$pageMaxWidth: 1920px;
$break-small: 600px;
$pageWidth: 700px;
