// =============================================================================
// Font Face
// =============================================================================

@mixin font-face($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;

  $extmods: (
    eot: "?",
    svg: "#" + str-replace($name, " ", "_")
  );

  $formats: (
    otf: "opentype",
    ttf: "truetype"
  );

  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }

  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}


// =============================================================================
// responsive
// =============================================================================

@mixin mobile-width {
  @media only screen and (max-width: $break-small) {
    width: calc(100% - 60px);
  }
}


// =============================================================================
// cross browser
// =============================================================================

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}


// =============================================================================
// list columns
// =============================================================================

@mixin listColumns ($numberOfColumns){
  -moz-column-count: $numberOfColumns;
  -moz-column-gap: 40px;
  -webkit-column-count: $numberOfColumns;
  -webkit-column-gap: 40px;
  column-count: $numberOfColumns;
  column-gap: 40px;
}

@mixin btn-radius ($px) {
  border-radius: $px;
  .md-ripple-container {
    border-radius: $px;
  }
}
