<section class="audience" layout="column">
  <h2>{{'Audience' | translate}}</h2>
  <md-input-container>
    <label>{{'Type' | translate}}</label>
    <md-select ng-model="idea.audience" placeholder="{{'Select Audience Type'| translate}}" class="type">
      <md-option ng-value="aud.type" ng-repeat="aud in idea.audienceDefinitions track by $index">
        {{ aud.type | translate }}
        <span class="size">({{aud.size | translate}})</span>
      </md-option>
    </md-select>
  </md-input-container>

  <md-input-container md-no-float>
    <label>{{'Profile' | translate}}</label>
    <textarea placeholder="{{'Your audience\'s characteristics' | translate}}"></textarea>
  </md-input-container>
</section>
