<section class="business" layout="column">
  <h2>{{'Business Type' | translate}}</h2>
  <md-input-container>
    <label>{{'Type' | translate}}</label>
    <md-select ng-model="idea.bizType" placeholder="{{'Select Audience Type'| translate}}" class="type">
      <md-option ng-value="bizType" ng-repeat="bizType in idea.bizTypes track by $index">
        {{ bizType | translate }}
      </md-option>
    </md-select>
  </md-input-container>
</section>
