<div ng-include="'app/main/navBar/navBar.html'" include-replace onload="main.setStageHeight()"></div>
<md-content class="stage" ng-style="{'height': main.stageHeight + 'px'}">
  <div ui-view></div>
</md-content>
