<div id="idea-page">
  <div ng-include="'app/pages/idea/businessType/businessType.html'" include-replace></div>
  <table ng-if="idea.bizType == 'Market Place'" class="marketPlace">
    <thead>
    <tr>
      <th>Buyers</th>
      <th>Sellers</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        <div ng-include="'app/pages/idea/audience/audience.html'" include-replace></div>
      </td>
      <td>
        <div ng-include="'app/pages/idea/audience/audience.html'" include-replace></div>
      </td>
    </tr>
    </tbody>
  </table>
  <div ng-if="idea.bizType != 'Market Place'" ng-include="'app/pages/idea/audience/audience.html'" include-replace></div>
</div>
