md-toast {
  position: fixed;
  z-index: 10001;

  &.error {
    background-color: rgba(199, 40, 83, 0.87);
  }

  &.invert {
    background-color: rgba(255, 255, 255, 0.87);
    color: $textDark;
  }

  .icon {
    margin: 0 14px 0 0;
  }

  md-progress-circular {
    position: absolute;
    right: -20px;
    top: -26px;

    & + span {
      right: 37px;
    }
  }
}
