<div id="home-page">
  <section class="projects">
    <div layout="row" layout-align="start center">
      <h2>Projects</h2>
      <md-button class="md-accent addBtn" ng-click="home.startNewProject()">
        <ng-md-icon class="icon" icon="add"></ng-md-icon>
        New Project
      </md-button>
    </div>
    <!--<div ui-grid="home.projects" class="table"></div>-->
    <div class="list header" layout="row" layout-align="start center" flex="100">
      <span class="name">Name</span>
      <span class="updatedAt">Updated At</span>
    </div>
    <ul class="list" layout="column" layout-align="start start"  flex="100">
      <li ng-repeat="proj in home.projects.data track by $index" layout-fill>
        <md-button layout="row" layout-align="start center" layout-fill>
          <span class="name">{{proj.name}}</span>
          <span class="updatedAt" am-time-ago="proj.updated_at"></span>
        </md-button>
      </li>
    </ul>
  </section>
</div>
