#home-page {
  .addBtn {
    padding: 0 16px;
    top: 2px;
    .icon {
      bottom: 1px;
      margin-left: -9px;
      svg {
        width: 17px;
        height: 17px;
        top: 3px;
        left: 5px;
      }
    }
  }

  .projects {
    .list {
      button {
        text-align: left;
        margin: 0;
        text-transform: capitalize;
      }
      .name {
        width: 120px;
        display: inline-block;
      }
      &.header {
        padding: 0 6px;
      }
    }
  }
}
