.ngdialog.login {
  .ngdialog-content {
    width: 300px;
    overflow: hidden;

    button.login {
      margin: 0;
    }

    md-toast {
      min-width: initial;
      width: 265px;
      padding: 0 10px;

      .icon {
        margin-: 10px;
      }
      span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    .errorMsg {
      bottom: 29px;
      right: 4px;
      font-size: 11px;
    }
  }
}
