<md-toolbar class="navBar md-primary" layout="row" layout-align="space-between center" layout-fill>
  <div class="left" layout-align="start center" layout="row">
    <md-button ui-sref=".home" class="logo" ng-class="{selected: main.selected == 'app.home'}">PROPELO</md-button>
    <md-autocomplete md-selected-item="main.selectedProject" md-search-text="main.projectPlaceholder" md-items="item in getMatches(searchText)" md-item-text="item.display">
      <md-item-template>
        <span md-highlight-text="searchText">{{item.display}}</span>
      </md-item-template>
      <md-not-found>
        No matches found.
      </md-not-found>
    </md-autocomplete>
    <md-button ui-sref=".idea" class="navBtn" ng-class="{selected: main.selected == 'app.idea'}">
      <ng-md-icon class="coreIcon" icon="flash_on"></ng-md-icon>
      <div class="label">{{'IDEA' | translate}}</div>
    </md-button>
    <md-button class="navBtn" ng-class="{selectd: main.selected == 'app.pitch'}">
      <ng-md-icon icon="av_timer"></ng-md-icon>
      <div class="label">{{'PITCH' | translate}}</div>
    </md-button>
  </div>
  <div class="right" layout-align="end center" layout="row">
    <md-menu class="userMenu" md-offset="0 48">
      <md-button ng-click="$mdOpenMenu($event)" layout="row">
        <span class="user" md-menu-origin ng-style="{'background-image':'url(' + main.user.picture + ')'}"></span>
        <span class="userName">{{main.user.given_name}}</span>
        <ng-md-icon class="dropIcon" icon="expand_more"></ng-md-icon>
      </md-button>
      <md-menu-content>
        <md-menu-item>
          <md-button ng-click="main.logout()" layout-fill>
            <ng-md-icon icon="exit_to_app"></ng-md-icon>
            <span>EXIT</span>
          </md-button>
        </md-menu-item>
      </md-menu-content>
    </md-menu>
  </div>
</md-toolbar>
