#appContainer {
  & > .navBar {

    .md-button {
      height: 47px;
      margin: 0;
      padding: 0;
      min-width: inherit;
    }

    .logo {
      line-height: 47px;
      font-size: 14px;
      padding: 0 20px;
    }

    .navBtn {
      width: 40px;
      opacity: 0.5;

      &.selected {
        opacity: 1;
      }
      svg {
        height: 20px;
        //top: 0px;
      }
    }

    .label {
      font-size: 9px;
      height: 9px;
      line-height: 9px;
      margin-top: -4px;
      margin-bottom: 6px;
    }

    .userMenu {
      margin-right: 8px;

      & > button {
        padding: 0 6px;
        margin: 8px 0px;
        top: 1px;
        .user {
          display: inline-block;
          margin: 8px 5px;
        }
        .dropIcon {
          bottom: 19px;
        }
        .userName {
          display: inline-block;
          bottom: 18px;
          font-size: 14px;
        }
      }
    }

    .user {
      height: 31px;
      width: 31px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      border-radius: 40px;
      box-shadow: 0 0 1px 2px $primary-color, 0 0 0 3px white;
      margin: 0 5px;
    }

    button.md-button {
      //@extend .PopIn;
    }
  }
}
