<div layout-fill layout="column" layout-align="start start" id="addProject">
  <h2 layout-fill>{{'New Project' | translate}}</h2>
  <md-input-container layout-fill class="name">
    <label>{{'Project Name' | translate}}</label>
    <input ng-model="addProj.name">
  </md-input-container>
  <md-radio-group ng-model="addProj.bizCode" class="type" layout-fill>
    <md-radio-button ng-repeat="bizType in addProj.bizLogic.bizTypes track by $index" ng-value="bizType.code" aria-label="{{ bizType.text }}">
      {{ bizType.text | translate }}
    </md-radio-button>
  </md-radio-group>
  <md-button class="md-accent md-raised submit" layout-fill ng-click="addProj.start()">
    {{'start' | translate}}
  </md-button>
</div>
