.ngdialog.ngdialog-theme-default .ngdialog-content {
  border-radius: 0;
  button.submit {
    margin: 14px 0 -14px -14px;
    padding: 0;
    width: calc(100% + 28px);
    @include btn-radius(0);
  }
  h2 {
    margin: -14px 0 -14px -14px;
    padding: 11px 14px 10px;
    width: calc(100% + 28px);
    font-size: 13px;
    text-align: center;
    background: rgba(0, 16, 56, 0.1);
    font-weight: 400;
    text-transform: uppercase;
    line-height: 18px;
    color: $blueTxt;
  }
}
